{% extends "index_base.html" %}
{% block title %}Habitcakess - załóż nowe konto{% endblock %}

{% block content %}

    <section class="section-forms">
    <div class="signup__box form__box">
        <img class="main__logo form__logo" src="{{ url_for('static', filename='img/logo_main.svg') }}" alt="Habitcakes app logo">
        <h1 class="signup__header form__header">Załóż nowe konto</h1>

        <div class="form__flash__box">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="form__flash__list">
                        {% for category, message in messages %}
                            <li class="form__flash--{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        </div>

        <form class="signup__form" action="{{ url_for('userbase.create') }}" method="POST">
            <input class="signup__form--input" type="text" name="name" placeholder="Nazwa użytkownika" required="required">
            <input class="signup__form--input" type="email" name="email" placeholder="Adres e-mail" required="required">
            <input class="signup__form--input" type="password" name="password" placeholder="Hasło" required="required">
{#            <input class="signup__form--button" type="submit" value="Załóż konto">#}
            <a class="signup__form--button demo_anchor" href="{{ url_for('userbase.info') }}">Załóż konto</a>
        </form>
        <a class="signup__link" href="{{ url_for('userbase.login') }}">
                Lub przejdź do strony logowania
        </a>
    </div>
    </section>
{% endblock %}