{% extends "base.html" %}
{% block title %}Habitcakes - logowanie{% endblock %}

{% block content %}
    <section class="section-forms">
        <div class="signup__box form__box">
            <img class="main__logo form__logo" src="{{ url_for('static', filename='img/logo_main.svg') }}" alt="Habitcakes app logo">
            <h1 class="signup__header form__header">Zaloguj się</h1>
            <p class="signup__fail-message">{{ fail_message }}</p>
            <form class="signup__form" action="{{ url_for('userbase.login') }}" method="POST">
                <input class="signup__form--input" type="email" name="email" placeholder="Email" required="required">
                <input class="signup__form--input" type="password" name="password" placeholder="Password" required="required">
                <input class="signup__form--button" type="submit" value="Zaloguj">
            </form>
            <a class="signup__link" href="{{ url_for('userbase.create') }}">
                Lub utwórz nowe konto
            </a>
        </div>
    </section>
{% endblock %}