{% extends "base.html" %}
{% block title %}Utworzono nowe konto!{% endblock %}

{% block content %}
    <section class="section-forms">
    <div class="signup__box form__box">
        <img class="main__logo form__logo" src="{{ url_for('static', filename='img/logo_main.svg') }}" alt="Habitcakes app logo">
        <h1 class="signup__header form__header">Utworzono nowe konto!</h1>
        <a class="signup__link" href="{{ url_for('userbase.login') }}">
                Przejdź do strony logowania
        </a>
    </div>
    </section>
{% endblock %}