<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="header__box wrapper">
            <span class="header__text">Habitcakes</span>
            <a href="{{ url_for('userbase.logout') }}"><button class="header__logout-button">Wyloguj</button></a>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer class="footer section_padding">
        <div class="footer__box wrapper">
            <a class="footer__link" target="_blank" href="https://github.com/pancake-dave/habitcakes">
                <i class="fa-brands fa-square-github"></i> GitHub
            </a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://kit.fontawesome.com/915f00f029.js" crossorigin="anonymous"></script>
</body>
</html>