{% extends "base.html" %}
{% block title %}Habitcakes - pulpit{% endblock %}

{% block content %}
    <main>
    <h1>Tutej będzie kalendosz</h1>
    <h2>DEBUG</h2>
    <p>Witaj {{ current_user }}</p>
    <a href="{{ url_for('userbase.logout') }}">Wyloguj</a><br>
    <form action="{{ url_for('habits.habit') }}" method="POST">
        <input type="text" name="title" placeholder="Nazwa zadania" required="required"><br>
        <input type="text" name="description" placeholder="Opcjonalny opis"><br>

        <label for="repeat_frequency">Powtarzaj co:</label>
        <select id="repeat_frequency" name="repeat_frequency">
            <option value="daily">Codziennie</option>
            <option value="weekly">Co tydzień</option>
            <option value="monthly">Co miesiąc</option>
        </select>

        <input type="checkbox" id="monday" name="repeat_day" value="mon"><label for="monday">Poniedziałek</label>
        <input type="checkbox" id="tuesday" name="repeat_day" value="tue"><label for="tuesday">Wtorek</label>
        <input type="checkbox" id="wednesday" name="repeat_day" value="wed"><label for="wednesday">Środa</label>
        <input type="checkbox" id="thursday" name="repeat_day" value="thu"><label for="thursday">Czwartek</label>
        <input type="checkbox" id="friday" name="repeat_day" value="fri"><label for="friday">Piątek</label>
        <input type="checkbox" id="saturday" name="repeat_day" value="sat"><label for="saturday">Sobota</label>
        <input type="checkbox" id="sunday" name="repeat_day" value="sun"><label for="sunday">Niedziela</label><br>

        <input type="submit" value="Dodaj">

    </form>
    <h3>Lista zadań:</h3>
    <ul>
        {% for habit in habits %}
        <li>{{ habit }} <a href="{{ url_for('habits.edit_habit', habit_id=habit['hid']) }}">Edytuj</a>
        <a href="{{ url_for('habits.delete', habit_id=habit['hid']) }}">Usuń</a>
</li>
    {% endfor %}
    </ul>
    <h2>DEBUG END</h2><br><br>
{#________________________________________________________________________#}
    <section class="habit_display section_padding section">
        <div class="habit-grid wrapper" id="habit-grid">
            {# -- Header row -- #}
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Zadanie</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Poniedziałek</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Wtorek</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Środa</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Czwartek</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Piątek</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Sobota</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Niedziela</p></div>
            <div class="habit-grid__cell habit-grid__cell--day habit-grid__cell--header"><p class="habit-grid__day-text">Progres</p></div>
            {# -- Habit row -- #}
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
            <div class="habit-grid__cell habit-grid__cell--habit"><p class="habit-grid__habit-checkbox"></p></div>
        </div>
    </section>
    </main>
{% endblock %}
