{% extends "base.html" %}
{% block title %}Debug{% endblock %}

{% block content %}
    <main>
        <h2>DEBUG</h2>
        <p>Witaj {{ current_user }}</p>
        <a href="{{ url_for('userbase.logout') }}">Wyloguj</a><br>
        <h3>Lista zadań:</h3>
        <ul>
            {% for habit in habits %}
            <li>{{ habit }} <a href="{{ url_for('habits.edit_habit', habit_id=habit['hid']) }}">Edytuj</a>
                <a href="{{ url_for('habits.delete', habit_id=habit['hid']) }}">Usuń</a>
            </li>
            {% endfor %}
        </ul>
        <h2>DEBUG END</h2><br><br>
    </main>>
{% endblock %}