{% extends "base.html" %}
{% block title %}Debug{% endblock %}

{% block content %}
    <main class="debug">
        <section class="section_padding">
            <h2>DEBUG</h2><br>
            <span>{{ current_user }}</span>
            <a class="debug__link" href="{{ url_for('userbase.logout') }}">  Wyloguj</a><br><br>
            <h3>Lista zadań:</h3><br>
            <ul>
                {% for habit in habits %}
                <li>{{ habit }} <a class="debug__link" href="{{ url_for('habits.edit_habit', habit_id=habit['hid']) }}">Edytuj</a>
                    <a class="debug__link" href="{{ url_for('habits.delete', habit_id=habit['hid']) }}">Usuń</a>
                </li>
                {% endfor %}
            </ul>
            <br><br>

        <h3>Completions:</h3><br>
            <ul>
                {% for c in completions %}
                <li>{{ c }}</li>
                {% endfor %}
            </ul>

        </section>
    </main>
{% endblock %}