{% extends "base.html" %}
{% block title %}Debug{% endblock %}

{% block content %}
    <main>
        <section class="section-padding">
            <h2>DEBUG</h2><br>
            <p>Witaj {{ current_user }}</p><br>
            <a href="{{ url_for('userbase.logout') }}">Wyloguj</a><br><br>
            <h3>Lista zadań:</h3><br>
            <ul>
                {% for habit in habits %}
                <li>{{ habit }} <a href="{{ url_for('habits.edit_habit', habit_id=habit['hid']) }}">Edytuj</a>
                    <a href="{{ url_for('habits.delete', habit_id=habit['hid']) }}">Usuń</a>
                </li><br>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}