// Variables
$main-color: #2C3639;
$secondary-color: #3F4E4F;
$contrast-main: #A27B5C;
$contrast-secondary: #DCD7C9;
$table-bg: #000;
$uncomplete: #888;

// Typography cheatsheet
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 - 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

// General
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: $contrast-secondary;
  background-color: $main-color;
  min-height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.section_padding {
  padding: 2rem 2rem;
}

.index_main {
  margin: auto;
}

// Forms pages universal styling
.section-forms {
  //height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: $contrast-secondary;
    border: 1px solid $contrast-secondary;
    border-radius: 20px;
    color: $main-color;
  }
  &__logo {
    width: 300px;
    padding: 40px;
  }
  &__header {
    cursor: default;
    padding-bottom: .8rem;
    font-size: 2.8rem;
  }
}

// Index page
.index {
  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: $contrast-secondary;
    &--text {
      color: $main-color;
      font-size: 1.6rem;
    }
  }
  &__description {
    cursor: default;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
    padding-bottom: .8rem;
    &--box {
      border: 2px solid $main-color;
      border-radius: 5px;
      background-color: $contrast-secondary;
      &:hover .index__link--text {
        background-color: $main-color;
        color: $contrast-secondary;
      }
    }
    &--text {
      background-color: transparent;
      color: $main-color;
      padding: 1rem 2rem;
      transition: background-color .2s, color .2s;
    }
  }
}


// Signup and login page
.signup {
  &__box {
    height: auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--input {
      width: 400px;
      font-size: 1.4rem;
      padding: .4rem;
      margin-bottom: .6rem;
      border: 1px solid transparent;
      border-radius: 5px;
      &:focus-visible {
        outline: 2px solid $contrast-main;
        border: 1px solid transparent;
      }
    }
    &--button {
      font-size: 1rem;
      padding: 1rem 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 2px solid $main-color;
      border-radius: 5px;
      background-color: $contrast-secondary;
      cursor: pointer;
      transition: background-color .2s, color .2s;
      &:hover {
        background-color: $main-color;
        color: $contrast-secondary;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $main-color;
    padding-top: 1rem;
    padding-bottom: 40px;
  }
  &__fail-message {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: .2rem;
  }
}

// Dashboard
.habit_dashboard_main {
  margin-bottom: auto;
}
.habit_display {
  //padding-top: 0;
}
.habit-form {
  &__box {
    z-index: 100;
    //display: flex;
    display: none;
    height: auto;
    width: auto;
    padding: 4rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $contrast-secondary;
    color: $main-color;
  }
  &__background {
    z-index: 90;
    display: none;
    width: 100svw;
    height: 100svh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 50%;
  }
  &__header {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    width: 400px;
    font-size: 1.4rem;
    padding: .4rem;
    margin-bottom: .6rem;
    border: 1px solid transparent;
    border-radius: 5px;
    &::placeholder {
      color: $main-color;
      font-style: normal;
      font-size: 1.4rem;
      font-family: "Roboto", sans-serif;
      font-weight: 200;
    }
    &:focus-visible {
      outline: 2px solid $contrast-main;
      border: 1px solid transparent;
    }
    &--textarea {
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      min-height: 2.6rem;
      resize: vertical;
    }
  }
  &__label {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-top: .4rem;
  }
  &__select {
    font-size: 1rem;
      padding: .8rem 1.6rem;
      border: 2px solid $main-color;
      border-radius: 5px;
      background-color: $contrast-secondary;
      cursor: pointer;
  }
  &__checkboxes {
    display: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__weekday {
    cursor: pointer;
    margin-left: 1rem;
    margin-right: .2rem;
  }
  &__weekday-label {
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .1rem .2rem;
    transition: color .2s, background-color .2s;
    &:hover {
      background-color: $secondary-color;
      color: $contrast-secondary;
    }
  }
  &__month-day {
    font-size: 1.2rem;
    display: none;
    padding: 1rem;
    &--label {
      padding-right: .6rem;
    }
    &--input {
      font-size: 1.2rem;
      border: 1px solid transparent;
      border-radius: 5px;
      text-align: center;
      &:focus-visible {
        outline: 2px solid $contrast-main;
        border: 1px solid transparent;
      }
    }
  }
  &__cancel-button {
    font-size: 1rem;
    color: $main-color;
    padding: .4rem .8rem;
    margin: .4rem;
    border: 2px solid $main-color;
    border-radius: 5px;
    background-color: $contrast-secondary;
    cursor: pointer;
    transition: background-color .2s, color .2s, border .2s;
      &:hover {
        border: 2px solid $secondary-color;
        background-color: $main-color;
        color: $contrast-secondary;
      }
  }
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-arrows {
  -moz-appearance: textfield;
}

.visible {
  display: flex;
}

.habit-grid {
  &__add-button {
    font-size: 1.2rem;
    color: $contrast-secondary;
    padding: .6rem 2rem;
    margin: .4rem;
    border: 2px solid $contrast-secondary;
    border-radius: 5px;
    background-color: $main-color;
    cursor: pointer;
    transition: background-color .2s, color .2s, border .2s;
      &:hover {
        border: 2px solid $secondary-color;
        background-color: $contrast-secondary;
        color: $main-color;
      }
  }
  &__deledit-button {
    color: $contrast-secondary;
    width: 1.6rem;
    height: 1.6rem;
    min-width: 1.6rem;
    min-height: 1.6rem;
    margin-right: .4rem;
    border: 2px solid $contrast-secondary;
    border-radius: 5px;
    background-color: $main-color;
    cursor: pointer;
    transition: background-color .2s, color .2s, border .2s;
      &:hover {
        border: 2px solid $secondary-color;
        background-color: $contrast-secondary;
        color: $main-color;
      }
  }
  &__row {
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr) 1fr;
  }
  &__cell {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 2px solid $secondary-color;
    &--logo {
      height: 3rem;
    }
    &--empty {
      font-size: 1.2rem;
    }
    &--month {
      font-weight: 300;
    }
    &--day {
      font-size: 1.4rem;
      font-weight: 400;
    }
    &--dayname {
      font-size: 1.2rem;
    }
    &--edge {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 500;
      border-right: 2px solid $secondary-color;
      &:last-child {
        border-right: none;
      }
    }
    &--edgetext {
      padding-top: .2rem;
      padding-bottom: .2rem;
    }
    &--cell {
      background-color: $main-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      overflow: hidden;
      justify-content: left;
      text-align: left;
      height: 3rem;
      &--text {
        font-size: 1rem;
        font-weight: normal;
        word-break: break-word;
        margin-left: .2rem;
      }
    }
  }
}

.can-complete {
  background-color: $secondary-color;
  cursor: pointer;
  border-right: 2px solid $secondary-color;
  transition: background-color .2s;
  &:hover {
    background-color: $contrast-main;
  }
}

.completed-bg {
  background-color: $contrast-main;
  border-right: 2px solid $secondary-color;
  &:hover {
    background-color: $uncomplete;
  }
}

// Header for logged in only pages
.header {
  padding: 1rem;
  background-color: $secondary-color;
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__text {
    font-size: 2.8rem;
  }
  &__logout-button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    background-color: $main-color;
    color: $contrast-secondary;
    cursor: pointer;
    transition: background-color .2s, color .2s;
      &:hover {
        background-color: $contrast-secondary;
        color: $main-color;
      }
  }
}

// Footer
.footer {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  //height: 4rem;
  background-color: $secondary-color;
  &__link {
    padding: .4rem .8rem;
    border-radius: 5px;
    background-color: $main-color;
    font-size: 1.2rem;
    text-decoration: none;
    color: $contrast-secondary;
    transition: color .2s, background-color .2s;
    &:hover {
      color: $secondary-color;
      background-color: $contrast-secondary;
    }
  }

}